<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>[[message]]</div>
      <input type="text" v-model="message" />
      This is message: {{ message }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/systemjs/6.8.3/system.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!",
        },
      });
    </script>
    <script type="module">
      // 现代浏览器已经支持ES6语法
      import("/js/data.js").then((item) => console.log(item.default));
    </script>
    <script>
      console.log("不支持ES6模块化");
      System.import("/js/data_bundle.js").then((res) => console.log(res));
    </script>
  </body>
</html>
